{% extends 'base.html' %}
{% load static %}

{% block content %}

  <main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Yangiliklar oynasi</h2>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">

              <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <div class="container">
                    <div class="section-title">
                        <h3>
                          <span>Sirdaryo viloyati hududida hamkorlikda o‘lchov ishlari amalga oshirildi.
                          </span>
                        </h3>
                    </div>
                  <div align="center">
                    <img src="{% static 'assets/img/yangiliklar/1.jpg' %}" alt="" width="400" height="400">
                  </div>
                  <div style="padding: 10px;">
                    <p>
                    O‘zbekiston Respublikasi Axborot texnologiyalari va kommunikatsiyalarini rivojlantirish vazirligining Sirdaryo viloyati hududiy boshqarmasi, Sirdaryo viloyati Elektromagnit moslashuv xizmati, mobil aloqa operatorlari xodimlari, “Hududiy elektr tarmoqlari” AJ vakillari bilan birgalikda o‘zaro hamkorlik yo‘nalishi bo‘yicha muntazam ravishda kompleks tashkiliy-texnik chora-tadbirlar amalga oshirilib kelinmoqda.
                    Jumladan, 2022-yilning 11,12-may kunlari 13 ta konsentratorlar o‘rnatilgan joylarda o‘lchov ishlari o‘tkazildi.O‘tkazilgan o‘lchov ishlari natijalariga ko‘ra belgilangan tartibda “Mobil aloqa tarmoqlari signallarini o‘lchash dalolatnomalari” tuzildi va mutaxassislar tomonidan transformator nimstansiyalarida o‘rnatilgan kontsentratorlarni mobil aloqa bilan ta’minlash bo‘yicha aniq tavsiyalar berildi.
                    </p>
                  </div>

                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="container">
                    <div class="section-title">
                        <h3>
                          <span>O‘zbekistonda «Plug and Play» global innovatsion platformasi texnik markazi ochiladi.
                          </span>
                        </h3>
                    </div>
                  <div align="center" >
                    <img src="{% static 'assets/img/yangiliklar/2.jpg' %}" alt="" width="400" height="400">
                  </div>
                  <div style="padding: 10px;">
                    <p>
                    AKT vazirligi, IT Park hamda “AloqaVentures” bilan kechgan uchrashuvlardan so‘ng “Plug and Play” Toshkentda o‘z vakolatxonasini ishga tushirishi haqida rasman e’lon qildi.<br>
                    “Plug and Play” – startaplar, korporatsiyalar, universitet va davlat idoralarini birlashtiruvchi yetakchi innovatsion platforma.  Kompaniya besh qit’ada 40 dan ortiq manzillarda faoliyat yuritadi, bosh ofisi esa Silikon vodiysida joylashgan.
                    “Plug and Play” o‘z venchur fondiga ega va buning natijasida Dropbox, Guardant Health, Honey, Lending Club, N26, PayPal va Rappi kabi yuzlab muvaffaqiyatli kompaniyalarga sarmoya kiritishga muvaffaq boʻlgan.
                    </p>
                  </div>

                  </div>
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Biz bilan aloqa</h3>
              <ul>
                <li><strong>Manzil</strong>: Sirdaryo, Guliston , Alisher Navoiy ko'chasi</li>
                <li><strong>Telefon</strong>: +998 99 477 14 44</li>
                <li><strong>Email</strong>: depGulistan@mitc.uz</li>
                <li><strong>Vazirlik sayti</strong>: <a href="https://www.mitc.uz">www.mitc.uz</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Nimadir qo'shish kerak bu yerga</h2>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi
                labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque
                itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos.
                Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock content %}
